body {
    background-color: #151615;
    background-image: linear-gradient(45deg, #151615 0%, #111d1c 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
}

.small {
    display: none;
    font-size: 20px;
    color: white;
}

h1 {
    font-size: 35px;
}

/* Style the modal */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #181a1b38;
}

/* Style the modal content */
.modal-content {
    position: relative;
    background-color: #b4b4b4; 
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ddd; 
    width: 80%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style the paragraphs inside the modal */
.modal-content p {
    margin: 15px 0; 
    font-size: 18px; 
    color: #333;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#dataMap {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.chartContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dataLabel {
    display: flex;
    background-color: #628797;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: space-around;
}

.scoreLabel, .dataLabel {
    display: flex; /* Use flexbox to align the elements */
    align-items: center; /* Align items vertically in the center */
    font-size: 28px;
    margin: 0;
    padding: 0;

  }

  #points, #documents {
    font-size: 28px;
  }

  #graph-container {
    position: relative;
    width: 400px;
    height: 200px;
    border: 1px solid #ccc;
  }



/* Hide the element for small devices */
@media screen and (max-width: 800px) {
    body #dataMap {
        display: none;
    }

    body .small {
        display: block;
    }

    body .modal {
        display: none;
    }
}
