<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/dataview.css">
    <meta charset="utf-8" />
  </head>
  <body>
    <div>
      <div class="graphContainer">
        <canvas id="dataGraph"></canvas>
      </div>
      <div class="controls">
        <button id="removeButton" class="button">Remove</button>
        <button id="approveButton" class="button primary">Approve</button>
      </div>
    </div>
    
    <script src="/assets/dataview.js"></script>
  </body>
</html>
