<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/addons/p5.sound.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/molleindustria/p5.play/lib/p5.play.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <meta charset="utf-8" />
  </head>
  <body>
    <p class="small">This data gathering is for mouse tracking! Touch screens won't be supported</p>

    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p>This is a data gathering tool that collects cursor movement data between two points.</p>
            <p>Click on the yellow square, then click on the red square to complete a data point.</p>
            <p>Datapoints are viewed and vetted, if it appears that you're submitting bad data on purpose you will be IP banned from submitting further data, and your data will be removed from the data set.</p>
            <p>Thank you for your participation!</p>
            <p><a href="https://github.com/sockheadrps/AiMouseMovement">View the code on github</a></p>
        </div>
    </div>

    <div id="dataMap">
      
      <div class="chartContainer">
        <div class="dataLabel">
          <p >Total Data Points collected: </p>

          <p id="documents">0</p>
        </div>
        <canvas id="myChart"></canvas>
      </div>
    </div>
    
    <script src="/assets/scripts.js"></script>
  </body>
</html>
